.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  padding: 15px;
}
.home > h2 {
  color: #2f527b;
  margin-bottom: 15px;
}
.home > button {
  cursor: pointer;
  width: 139px;
  height: 44px;
  border: 2px solid #1d355d;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 0 0 2em rgb(204, 22, 22);
  margin-top: 32px;
}
.home_home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}
