.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.question > h3 {
  font-size: medium;
  color: darkblue;
}

.question > h3 > span {
  color: brown;
  font-size: 24px;
}
