.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.top-winner {
  width: 180px;
  margin-bottom: 30px;
}

.result > button {
  width: 209px;
  height: 62px;
  border: 2px solid #1d355d;
  box-sizing: border-box;
  border-radius: 12px;
  color: #1d355d;
  background: #ffffff;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

.result_tiyle {
  color: #1d355d;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 15px;
  font-weight: bold;
}

.test_value {
  color: green;
  font-size: 30px;
  font-weight: bold;
}

.result_midle {
  color: #1d355d;
  font-size: 18px;
}

.description-good {
  color: #5bc145;
  font-weight: bold;
}

.description-bad {
  color: #eb725d;
  font-weight: bold;
}

.result > p{
  padding: 25px;
}