body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("./images/background.png");
  background-size: cover;
}

.global-contain {
  background-color: white;
  width: 42vh;
  height: 48vh;
  margin-top: 25vh;
  border-radius: 30px;
}
